body {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.btns{
    padding: 15px;
    border-radius: 50px;
    width: 50%;
    font-size: larger;
    font-weight: bold;
}

.btns:hover{
    background-color: white;
    transition: 200ms;
}

.game_box {
    border: 1px solid black;
    height: 500px;
}

.game_box .player {
    background-color: red;
    height: 50px;
    width: 50px;
    position: relative;
    top: 450px;
}