header {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    background-color: aliceblue;
}

.pizza-dude{
    width: 100%;
}

.phone {
    width: 100%;
}

.pasta {
    width: 100%;
}